includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
    level: 6
    excludePaths:
        - app/Http/Middleware/HandleInertiaRequests.php
